
body {
    background: #333;
    overflow: hidden;
}
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.text-white {
  color: #fff;
}

.input-form {
  display: block;
  width: 50%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 1px;
}

.border-warn {
  border: 3px solid red;
}

#top {
  position: absolute;
  width: 100%;
  z-index: 1;
}
